*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    background-color:#d8e2dc ;
}

h1{
   margin-top: 5rem;
   color: #8D0B41;
   font-size: 3rem;
}

.msg{
    text-align: center;
    margin-top: 5rem;
    font-size:2rem ;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

button{
    font-size: 1.3rem;
    padding: 10px;
    background-color: #215c0c;
    color: white;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px rgb(1, 23, 1);
    
}